<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Submission Successful- Ideas</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/> 
	
	</head>
	<body>
		<div class="container text-center">
		
			<div>
				<h3>You have submitted your Ideas succesfully!</h3>
				<h4><a th:href="@{/list_ideas}">Please click here to view them</a></h4>
			</div>
		
		</div>
		
	</body>


</html>